body {
	width: 100%;
	height: 100%;
	background: #0c0c0c;
}
body, body * {
	margin: 0;
	padding: 0;
}



.wr {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 1090px;
	height: 1145px;
	background: #4b4b4b;
	border: solid 8px #363636;
	border-radius: 20px;
}



.wr .editor {
	position: absolute;
	top: 35px;
	left: 35px;
	width: 1010px;
	height: 510px;
	overflow: hidden;
	background: #232323;
	border: solid 5px #363636;
	border-radius: 20px;
	font-family: Consolas;
	font-size: 18px;
}
.wr .editor .row {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 40px;
	height: calc(100% - 10px);
	background: #232323;
	color: #f7ad0e;
	text-align: center;
	user-select: none;
}
.wr .editor .box {
	position: absolute;
	top: 5px;
	left: 45px;
	width: calc(100% - 50px);
	height: calc(100% - 10px);
	background: #232323;
	outline: none;
	border: none;
	resize: none;
	font-family: Consolas;
	font-size: 18px;
	color: #e1e1e1;
	white-space: nowrap;
}



.wr .output {
	position: absolute;
	bottom: 35px;
	left: 35px;
	width: 1010px;
	height: 510px;
	overflow: hidden;
	background: #232323;
	border: solid 5px #363636;
	border-radius: 20px;
	font-family: Consolas;
	font-size: 18px;
}
.wr .output .panel {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 45px;
	background: #232323;
	border-bottom: solid 5px #363636;
	user-select: none;
}
.wr .output .otp {
	position: absolute;
	top: 55px;
	left: 5px;
	width: calc(100% - 10px);
	height: calc(100% - 60px);
	background: #232323;
	color: #e1e1e1;
	white-space: nowrap;
}



.wr .scroll::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
.wr .scroll::-webkit-scrollbar-track {
	background: #414141;
	border-radius: 20px;
}
.wr .scroll::-webkit-scrollbar-thumb {
	background: #828282;
	border-radius: 20px;
}
.wr .scroll::-webkit-scrollbar-corner {
	background: transparent;
}